 body {
     font-family: Arial, sans-serif;
     text-align: center;
 }

 #container {
     max-width: 400px;
     margin: 0 auto;
 }

 #result {
     font-weight: bold;
     margin-top: 10px;
 }